<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Thwartski_Hud_Installer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Thwartski_Hud_Installer.Properties.Settings>
            <setting name="saveBackups" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="comboBoxAspect" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="comboBoxScoreboard" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="folderBrowserPath" serializeAs="String">
                <value />
            </setting>
        </Thwartski_Hud_Installer.Properties.Settings>
    </userSettings>
</configuration>